<h2>Twoje produkty</h2>
<br/>
<div class="row">
<% @products_user.each do |p| %>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <%= image_tag p.product_image.url(:medium), :class => "card-img-top", :alt => "Card image cap"%>
        <h3 class="card-title"><%= link_to "#{p.name}", product_path(p) %></h3>
        <p> <%= p.generate_simple_desc %>... <%= link_to "Więcej", product_path(p)%> </p>
        <br/>
        <p class="card-text"><%= p.generate_price %> PLN</p>
        <%= button_to 'Zobacz produkt', product_path(p), class: 'btn btn-primary', method: :get  %>
      </div>
    </div>
  </div>
<% end %>
</div>