<%= javascript_include_tag 'edit', 'data-turbolinks-track': 'reload' %>
<% product = @product %>

<div class="contrainer">
  <div class="row">
    <div class="col">

    </div>

    <div class="col text-center">
    <p class="text-right"><%= link_to 'Strona główna', root_path %> </p>
      <h3 class="text-center">Edytuj</h3> 
      <%= form_for(product) do |p| %>
      <%= p.label :name, 'Nazwa' %>
      <br/>
      <%= p.text_field :name, :placeholder => 'Podaj nazwę produktu', :size => "61" %>
      <br/>
      <%= p.submit "Zmień nazwę", class: "btn btn-success" %>
      <br/>

      <div class="text-left">

        <% product.orders.each do |order| %>
        <%= "#{order.material.name} sztuk: " %>
        <%= order.amount %>
        <%= link_to 'Usuń', order_path(order), method: :delete, data: { confirm: 'Czy chcesz usunąć?' } %>
        <br/>
        <% end %>
      </div>
      <br/>

      <% end %>

      <br/><br/>
      <div class="duplicate-div">
        <%= form_for(Order.new) do |o| %>
        <%= o.collection_select(:material_id,  Material.all, :id, :name) %> 
        <%= o.label :amount, 'Ilość' %> 
        <%= o.text_field :amount, :placeholder => 'Podaj ilość' %>
        <%= o.text_field :product_id, :value => product.id, :readonly => 'yes', :size => '2' %>
        <%= o.submit "Dodaj", class: "btn btn-success" %>
        <% end %>
      </div>
      <hr>
            <p>Cena</p>
      <p class="VIP">Wyliczona cena</p>
      

    </div>
    <div class="col">
    </div>
  </div>
</contrainer>