<%= javascript_include_tag 'edit', 'data-turbolinks-track': 'reload' %>
<% product = @product %>

<div class="contrainer">
  <div class="row">
    <div class="col">

    </div>

    <div class="col text-center">
    <p class="text-right"><%= link_to 'Strona główna', root_path %> </p>
      <h3 class="text-center">Edytuj</h3> 
      <%= form_for(product) do |p| %>
      <%= image_tag product.product_image.url(:medium) %>
      <br/>
      <%= p.label :name, 'Nazwa' %>
      <br/>
      <%= p.text_field :name, :placeholder => 'Podaj nazwę produktu', :size => "61" %>
      <br/>
      <%= p.submit "Zmień nazwę", class: "btn btn-success" %>
      <br/>
      <%= p.file_field :product_image, class: "btn btn-success"  %>
      <br/>
      <%= p.submit "Zapisz obraz", class: "btn btn-success", method: :get%>
      <br/>


      <h5>Produkt składa się z:</h5>
      <div class="text-center">
        <% product.orders.each do |order| %>
        <%= "#{order.material.name} sztuk: " %>
        <%= order.amount %>
        <%= link_to 'Usuń', order_path(order), method: :delete, data: { confirm: 'Czy chcesz usunąć?' } %>
        <br/>
        <% end %>
      </div>
      <br/>

      <% end %>

      <br/>
      <h5>Dodaj kwiaty do produktu</h5>
      <div class="duplicate-div">
        <%= form_for(Order.new) do |o| %>
        <%= o.collection_select(:material_id,  Material.all, :id, :name) %> 

        <%= o.text_field :amount, :placeholder => 'Podaj ilość' %>
        <%= o.text_field :product_id, :value => product.id, :hidden => 'hidden', :size => '2', :readonly => 'yes' %>
        <%= o.submit "Dodaj", class: "btn btn-success" %>
        <% end %>
      </div>
      <hr>
            <p>Cena:</p>
      <p class="VIP"><%= "#{product.generate_price} zł" %></p>
          <p class="text-right"><%= button_to 'ZAPISZ', root_path, :method => 'get', :class => 'btn btn-success' %> </p>
    </div>
    <div class="col">
    </div>
  </div>
</div>