
<% if user_signed_in? %>
<div class="btn-group">
  <%= button_to 'Twoje produkty', users_path, class: 'btn btn-primary', method: :get  %>
  <%= button_to 'Produkty publiczne', root_path, class: 'btn btn-primary', method: :get  %>
</div>
<div class="conf-box">
  <h2 class="text-center"><%= link_to 'Konfigurator produktu', new_product_path %></h2>
</div>
<h2>Produkty publiczne</h2>
<% else %>
<h2 class="text-center"><%= link_to 'Zaloguj się, aby stworzyć produkt', new_user_session_path %></h2>
<% end %>
<br/>
<div class="row">
  <% @products.each do |p| %>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <%= link_to image_tag(p.product_image.url(:medium)), product_path(p), :class => "card-img-top", :alt => "Card image cap" %>
        <h3 class="card-title"><%= link_to "#{p.name}", product_path(p) %></h3>
        <p> <%= p.generate_simple_desc %>... <%= link_to "Więcej", product_path(p)%> </p>
        <br/>
        <p class="card-text"><%= p.generate_price %> PLN</p>
        <% if p.user_id != nil %>
        <h6>Autor: <%= p.user.name %> </h6>
        <% else %>
        <h6>Produkt publiczny</h6>
        
        <%= button_to 'Zobacz produkt', product_path(p), class: 'btn btn-primary', method: :get  %>
        
        <%end%>
      </div>
    </div>
  </div>
  
  
  <% end %>
</div>

