
<div class="conf-box">
  <h2 class="text-center"><%= link_to 'Konfigurator produktu', new_product_path %></h2>
</div>
<br/>
<div class="row">
<% @products.each do |p| %>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <%= image_tag 'roze.jpg', :class => "card-img-top", :alt => "Card image cap"%>
        <h3 class="card-title"><%= link_to "#{p.name}", product_path(p) %></h3>
        <p> <%= p.generate_simple_desc %>... <%= link_to "Więcej", product_path(p)%> </p>
        <br/>
        <p class="card-text"><%= p.generate_price %> PLN</p>
        <a href="#" class="btn btn-primary">Dodaj do koszyka</a>
      </div>
    </div>
  </div>
<% end %>
</div>

    <h3>Tabela produktów</h3>
<table class="table table-bordered">
  <tr>
  <th>Id</th>
  <th>Nazwa</th>
  <th>Opis</th>
  <th>Cena</th>
</tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to "#{product.id}", product_path(product) %></td>
      <td><%= product.name%></td>
      <td><%= product.description%></td>
      <td><%= "#{product.generate_price} zł"%></td>
      <td><%= link_to 'Edytuj', edit_product_path(product) %> 
      |
      <%= link_to 'Usuń', product_path(product), method: :delete, data: { confirm: 'Czy chcesz usunąć?' } %></td>
    </tr>
    </tr>
  <%end%>
</table>
