<div class="contrainer">
  <div class="row">
    <div class="col">

    </div>

    <div class="col text-center">
  <div class="field">
  <h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Oczekiwanie na powierdzenie dla: <%= resource.unconfirmed_email %></div>
  <% end %>
<hr>
  <div class="field">
    <%= f.label :name, 'Imię' %><br />
    <%= f.text_field :name%>
  </div>
<hr>
    <div class="field">
    <%= f.label :surname, 'Nazwisko' %><br />
    <%= f.text_field :surname%>
  </div>
<hr>
    <div class="field">
    <%= f.label :nick, 'Nick' %><br />
    <%= f.text_field :nick%>
  </div>




<hr>
    <%= f.label :password, "Hasło" %> <br/><i>(zostaw puste, jeśli nie chcesz zmieniać)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>Minimum <%= @minimum_password_length %> znaków</em>
    <% end %>
  </div>
<hr>
  <div class="field">
    <%= f.label :password_confirmation, 'Potwierdź hasło' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<hr>
  <div class="field">
    <%= f.label :current_password, 'Bieżące hasło' %> <br/><i>(potrzebujemy Twojego hasła, aby potwierdzić zmiany)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Aktualzuj", class: "btn btn-success" %>
  </div>
<% end %>
<hr>
<h3>Usuń moje konto</h3>

<p>Niezadowolona/y? <%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewna/pewien?" }, method: :delete, class: "btn btn-success" %></p>

<%= link_to "Powrót", :back %>
    </div>
    <div class="col">
    </div>
  </div>
</contrainer>
