<!DOCTYPE html>
<html>
  <head>
    <title>FloralWorld</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% if user_signed_in? %>
  <%= link_to 'Strona główna', root_path, class: 'navbar-link' %> | 
Zalogowano jako <strong><%= current_user.email %></strong>.
<%= link_to 'Edytuj profil', edit_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
<%= link_to 'Strona główna', root_path, class: 'navbar-link' %> | 
<%= link_to "Załóż konto", new_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Zaloguj się", new_user_session_path, :class => 'navbar-link' %> <% end %>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<% if flash[:error] %>
<div class="alert alert-danger text-center">
<%= flash[:error]%> 
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-success text-center">
<%= flash[:notice]%> 
</div>
<% end %>
  <div class="container">
  <div class="row">
  <div class="col">
  </div>
  <div class="col-10">
  <div class="jumbotron text-center">
    <h1 class="title">Floral World</h1>      
    <p>Twoje kwiaty w internecie. Konfiguruj, twórz i zamawiaj to co właśnie chcesz</p>
  </div>
  </div>
  <div class="col">
  </div>
  </div>
  </div>
    <%= yield %>
  <footer>
    <div class="footy">
      <p>Stworzone z dumą na warsztatach Coder's Lab | Michał Brzoznowski © 2017</p>
      
    </div>
  </footer>
  </body>
</html>