<%= link_to 'Strona główna', root_path %> 

<% product = @product %>
<div class="row">
  <div class="col-sm-6"><p class="text-right"><%= link_to 'Edytuj', edit_product_path(product) %></p></div>
  <div class="col-sm-6"><%= link_to 'Usuń', product_path(product), method: :delete, data: { confirm: 'Czy chcesz usunąć?' } %></div>
</div>
<div class="card">
  <div class="card-block">
  <div class="contrainer">
  <div class="row">
    <div class="col">
    <h4 class="card-title"><%= product.name%></h4>
    <p>Skład produktu:</p>
    <p class="card-text">
      <% product.orders.each do |order| %>
      <i class="VIP"><%= "#{order.material.name} sztuk: " %>
      <%= order.amount %></i>
      <br/>
      <% end %></p>
    <h5>Cena:</h5>
    <p class="card-text VIP"><%= "#{product.generate_price} zł"%></p>
    <% if product.user != nil %>
    <p> <%="Autor produktu: #{product.user.name} #{product.user.surname}"%> </p>
    <% else %>
    <p>Produkt publiczny</p>
    <% end %>
    <p class="card-text"><small class="text-muted">Ostatnia akutalizacja <%=@last_updated%></small></p>
    </div>
    <div class="col">
  </div>
  <%= image_tag product.product_image.url(:original), :class => "card-img-bottom", :alt => "Card image cap" %>
  
  </div>
  </div>
  </div>
</div>

